.clients{
   display: flex;
   justify-content: center;
   flex-wrap: nowrap;
   overflow-x: scroll;
  }
.clients img{
    filter: grayscale(100%);
    cursor: pointer;
    width: 250%; /* Makes the image full width */
    height: auto; 
    padding: .5rem;
    margin: 2px
}
.clients img:hover{
    filter: grayscale(0);
}
::-webkit-scrollbar {
    width: 0;  
    background: transparent;  
}
.green-card {
    background-color: #B9FF66; /* Or use a specific green shade like #00ff00 */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(-20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
  }

  .running-logos {
    display: flex;
    animation: runningLogos 20s linear infinite;
  }
  
  @keyframes runningLogos {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }